<% provide(:title, 'Beerly | Wishlists') %>
<div class="container mt-5">


  <h4>Mes bières favorites</h4>

  <div class="row">
    <% @favorite_beers.sort { |a,b| Beer.find(a.beer_id).name <=> Beer.find(b.beer_id).name }.each do |element| %>
      <div class="col-12 col-md-4 col-lg-4 mt-3">
        <div class="card">
          <div class="container">
            <div class="card-body">
              <h5>
                <%= element.beer.name %>
              </5>
              <p>
              <%= link_to users_fav_beer_path(element.id), method: :delete, data: {confirm: "Vous êtes sûr?"} do %>
                <i class="far fa-heart" id="heart-red"></i>
              <% end %>
                </br>
              </p>
            </div>  
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container">
    <%= render "beers/index_user", locals: {beers: @beers, fav_beer: @fav_beer} %>
  </div> </br>



  <h4>Mes bars favoris</h4>

  <h5> Approuvés </h5>

  <div class="row">
    <% @bars_visited.sort { |a,b| Bar.find(a.bar_id).name <=> Bar.find(b.bar_id).name }.each do |element| %>
      <div class="col-12 col-md-4 col-lg-4 mt-3" id="result-card">
        <div class="card">
          <%= link_to  bar_path(element.bar.id), method: :get do %>
            <%= image_tag("#{element.bar.photo}", class: "card-img-top", alt: "beer", id:"visit") %>
          <% end %>
          <div class="card-body" id="visit">
            <h5>
              <%= link_to element.bar.name, bar_path(element.bar.id) %>
            </h5>
            <p>
              <%= element.bar.address %>
            </p>
            <p>
              <%= link_to visit_users_bar_wishlist_path(element.id), method: :visit do %>
                <% if element.is_visited == true %>
                  <i class='far fa-check-circle mr-3' id="check-green"></i>
                <% else %>
                  <i class='far fa-check-circle' id="check-grey"></i>
                <% end %>
              <% end %>
              <%= link_to users_bar_wishlist_path(element.id), method: :delete, data: {confirm: "Vous êtes sûr?"} do %>
                <i class='far fa-trash-alt' id="remove-red"></i> 
              <% end %>
            </p>
          </div>

        </div>
      </div>
    <% end %>
  </div>
  </br>
  </br>

  <h5> À tester </h5>
  <div class="row">

    <% @bars_to_visit.sort { |a,b| Bar.find(a.bar_id).name <=> Bar.find(b.bar_id).name }.each do |element| %>
      <div class="col-12 col-md-4 col-lg-4 mt-3" id="result-card">
        <div class="card">
          <%= link_to  bar_path(element.bar.id), method: :get do %>
            <%= image_tag("#{element.bar.photo}", class: "card-img-top", alt: "beer", id:"visit") %>
          <% end %>
          <div class="card-body" id="visit">
            <h5>
              <%= link_to element.bar.name, bar_path(element.bar.id) %>
            </h5>
            <p>
              <%= element.bar.address %>
            </p>
            <p>
              <%= link_to visit_users_bar_wishlist_path(element.id), method: :visit do %>
                <% if element.is_visited == true %>
                  <i class='far fa-check-circle' id="check-green"></i>
                <% else %>
                  <i class='far fa-check-circle' id="check-grey"></i>
                <% end %>
              <% end %>
              <%= link_to users_bar_wishlist_path(element.id), method: :delete, data: {confirm: "Vous êtes sûr?"} do %>
                <i class='far fa-trash-alt' id="remove-red"></i> 
              <% end %>
            </p>
          </div>

        </div>
      </div>
    <% end %>
  </div>


</div>
