<div class="container-fluid" style="height: 100vh; overflow-y: hidden;">


<div class="container">
<div class="row">
  <div class="col-lg-6 col-sm-12">

<h2 class="mb-5 mt-5">Connexion utilisateur</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mt-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field mt-3">
    <%= f.label :mot_de_passe %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field mt-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions mt-4">
    <%= f.submit "Se connecter", class:"btn btn-primary mb-2" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
<%= link_to "Retour à l'accueil", root_path %>
</div>

<div class="col-lg-6 col-sm-12" id="connect-user">
  <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/e6TR9n00dL3JS" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/man-drinker-e6TR9n00dL3JS"></a></p>
</div>

</div>
</div>
</div>