<div class="container mt-5">
<h2>Mon bar</h2>
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <h4 class="mt-3">Adresse</h4>
      <p> 150 Rue de la rue, 75020 Paris</p>
      <h4 class="mt-3">Descritpion</h4>
      <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500.</p> 
    </div>
    <div class="col-lg-4 col-sm-12">
        <h4>Horaires</h4>
          <li>Lundi :</li>
          <li>Mardi :</li>
          <li>Mercredi :</li>
          <li>Jeudi :</li>
          <li>Vendredi :</li>
          <li>Samedi :</li>
          <li>Dimanche :</li>
        <h4 class="mt-2">Happy hours</h4>
          <li>8h - 20h</li>
    </div>
  </div>
</div>

<div class="container mt-4">
  <h2 class="mb-3">La carte du bar</h2>
  <div class="row">
    <div class="col-lg-6 col-sm-12 mt-4">
        <h4>Bières pression</h4>
          <li>biere</li>
          <li>biere</li>
          <li>biere</li>
          <li>biere</li>
    </div>
    <div class="col-lg-6 col-sm-12 mt-4">
        <h4>Bières bouteille</h4>
          <li>biere</li>
          <li>biere</li>
          <li>biere</li>
          <li>biere</li>  
    </div>
  </div>

</div>
<div class="container mt-4">

<h2> Ma carte </h2>

<h3> Pression </h3>

<% @draft_beers.each do |item| %>
  <p> <%= Beer.find(item.beer_id).name %> -
  Prix pinte:  <%= item.pint_price %>,
  Prix demi: <%= item.half_pint_price %> -
  <%= link_to "modifier les prix", edit_beer_list_path(item.id) %> -
  <%= link_to "supprimer", beer_list_path(item.id), method: :delete, data: {confirm: "Vous êtes sûr?"} %> </p>
<% end %>

<h3> Bouteille </h3>
<% @bottle_beers.each do |item| %>
  <p> <%= Beer.find(item.beer_id).name %> - 
  Prix bouteille: <%= item.bottle_price %>  -
  <%= link_to "modifier le prix", edit_beer_list_path(item.id) %> -
  <%= link_to "supprimer", beer_list_path(item.id), method: :delete, data: {confirm: "Vous êtes sûr?"} %> </p>
<% end %>


<%= link_to "Ajouter une bière à ma carte", beers_path %>

<h2> Mon bar </h2>

<%= form_for @bar, url = {action: "update"} do |f| %>
  <%= f.label :nom %>
  <%= f.text_field :name %>
  <%= f.label :adresse %>
  <%= f.text_field :address %>
  <%= f.label :photo %>
  <%= f.text_field :photo %>
  <%= f.label :opening_times %>
  <%= f.text_area :opening_time %>
  <%= f.label :happy_hours %>
  <%= f.text_area :happy_hours %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit "update" %> 
<% end %>

</div>
