<div class="container mt-5">
<h2 class="mb-3"><%= @bar.name %></h2>
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <h4 class="mt-3">Adresse</h4>
      <p> <%= @bar.address %></p>
      <h4 class="mt-3">Description</h4>
      <p><%= @bar.description %></p> 
    </div>
    <div class="col-lg-4 col-sm-12">
        <h4>Horaires</h4>
          <p><%= @bar.opening_time %></p>
        <h4 class="mt-2">Happy hours</h4>
          <p><%= @bar.happy_hours %></p>
    </div>
  </div>
</div>

<div class="container mt-4">
<div class="col-12 col-lg-8">
<h4 class="mb-5 mt-6">Mettre à jour les informations sur mon bar</h4>

  <%= form_for @bar, url = {action: "update"} do |f| %>

    <div class="field mt-3">
      <%= f.label :nom %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="field mt-3">
      <%= f.label :adresse %>
      <%= f.text_field :address, class: "form-control" %>
    </div>

    <div class="field mt-3">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="field mt-3">
      <%= f.label :horaires %>
      <%= f.text_area :opening_time, class: "form-control" %>
    </div>

    <div class="field mt-3">
      <%= f.label :happy_hours %>
      <%= f.text_area :happy_hours, class: "form-control" %>
    </div>

    <div class="field mt-3">
      <%= f.label :photo %><i>(mettre un lien url)</i>
      <%= f.text_field :photo, class: "form-control" %>
    </div>

    <div class="actions mt-5 mb-3">
      <%= f.submit "Mettre à jour", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>

</div>
