<h1>Bars#edit</h1>
<p>Find me in app/views/bars/edit.html.erb</p>



<h2> Ma carte </h2>

<h3> Pression </h3>

<% @draft_beers.each do |item| %>
  <p> <%= Beer.find(item.beer_id).name %> -
  Prix pinte:  <%= item.pint_price %>,
  Prix demi: <%= item.half_pint_price %> -
  <%= link_to "modifier les prix", edit_beer_list_path(item.id) %> -
  <%= link_to "supprimer", beer_list_path(item.id), method: :delete, data: {confirm: "Vous êtes sûr?"} %> </p>
<% end %>

<h3> Bouteille </h3>
<% @bottle_beers.each do |item| %>
  <p> <%= Beer.find(item.beer_id).name %> - 
  Prix bouteille: <%= item.bottle_price %>  -
  <%= link_to "modifier le prix", edit_beer_list_path(item.id) %> -
  <%= link_to "supprimer", beer_list_path(item.id), method: :delete, data: {confirm: "Vous êtes sûr?"} %> </p>
<% end %>


<h2> Ajouter une bière à ma carte </h2>

<%= form_for @beerlist, url: url_for(controller: 'beer_lists', action: 'create') do |f| %>
  <%= f.label :beer_id %>
  <%= f.number_field :beer_id %> </br>
  <%= f.label :pint_price %>
  <%= f.number_field :pint_price %> </br>
  <%= f.label :half_pint_price %>
  <%= f.number_field :half_pint_price %>
  <%= f.submit "create" %>
<% end %>


<h2> Mon bar </h2>

<%= form_for @bar, url = {action: "update"} do |f| %>
  <%= f.label :nom %>
  <%= f.text_field :name %>
  <%= f.label :adresse %>
  <%= f.text_field :address %>
  <%= f.label :photo %>
  <%= f.text_field :photo %>
  <%= f.label :opening_times %>
  <%= f.text_area :opening_time %>
  <%= f.label :happy_hours %>
  <%= f.text_area :happy_hours %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit "update" %> 
<% end %>
