<div class="container mt-5">
<h2 class="mb-3"><%= @bar.name %></h2>
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <h4 class="mt-3">Adresse</h4>
      <p> <%= @bar.address %></p>
      <h4 class="mt-3">Descritpion</h4>
      <p><%= @bar.description %></p> 
    </div>
    <div class="col-lg-4 col-sm-12">
        <h4>Horaires</h4>
          <p><%= @bar.opening_time %></p>
        <h4 class="mt-2">Happy hours</h4>
          <p><%= @bar.happy_hours %></p>
    </div>
  </div>
</div>
<div class="container mt-4">

<%= form_for @bar, url = {action: "update"} do |f| %>
  <%= f.label :nom %>
  <%= f.text_field :name %>
  <%= f.label :adresse %>
  <%= f.text_field :address %>
  <%= f.label :photo %>
  <%= f.text_field :photo %>
  <%= f.label :opening_times %>
  <%= f.text_area :opening_time %>
  <%= f.label :happy_hours %>
  <%= f.text_area :happy_hours %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit "update" %> 
<% end %>

</div>

<div class="container mt-4">
  <%= link_to "Editer ma carte", managers_beer_lists_path, class:"btn btn-primary text-light" %>


</div>

