<!-- Footer -->
<footer class="page-footer font-small sticky-bottom pt-5 pb-5 mt-6">

  <div class="container">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3 text-dark">

          <!-- Content -->
          
          <div class="navbar-brand"><%= link_to image_tag("logo.svg", class: "logo-footer", alt: "logo"), '/' %></div>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3 text-dark">

            <!-- Links -->
            <h5 class="text-light pb-3">Découvrez-nous</h5>

            <ul class="list-unstyled">
              <li>
                <%= link_to 'À propos', '/static_pages/about', class:"nav-item" %> 
             </li>
              <li>
                <%= link_to 'Contact', '/contact', class:"nav-item" %> 
              </li>
              <li>
                <%= link_to 'Mentions Légales', '/static_pages/legal_notice', class:"nav-item" %> 
              </li>
            </ul>

          </div>

        <% unless user_signed_in? || manager_signed_in? %>
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-light pb-3">Espace pro</h5>

            <ul class="list-unstyled text-light">
              <li>
                <%= link_to 'Connectez-vous', new_manager_session_path , class:"nav-item" %> 
              </li>
              <li>
                <%= link_to 'Nous rejoindre', new_manager_registration_path, class:"nav-item" %> 
              </li>
            </ul>

          </div>
          <% end %>
          
      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  
    <!-- Copyright -->
  </div>
  </footer>