<!-- Footer -->
<footer class="page-footer font-small sticky-bottom pt-5 pb-5 mt-6">

  <div class="container">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3 text-dark">

          <!-- Content -->
          
          <div class="navbar-brand"><%= link_to image_tag("logo.svg", class: "logo", alt: "logo"), '/' %></div>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase text-dark">Links</h5>

            <ul class="list-unstyled text-dark">
              <li>
                <a href="#!" class="nav-item">Link 1</a>
              </li>
              <li>
                <a href="#!" class="nav-item">Link 2</a>
              </li>
              <li>
                <a href="#!" class="nav-item">Link 3</a>
              </li>
              <li>
                <a href="#!" class="nav-item">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3 text-dark">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                  <%= link_to 'Accueil', '/',  class:"nav-item"%>  
              </li>
              <li>
                <%= link_to 'Contact', 'contact', class:"nav-item" %> 
              </li>
              <li>
                  <%= link_to 'À propos', 'apropos', class:"nav-item" %> 
              </li>
              <li>
                <%= link_to 'Mentions Légales', 'mentions-legales', class:"nav-item" %> 
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  
    <!-- Copyright -->
  </div>
  </footer>