<header id="shd">
<nav class="navbar navbar-expand-lg navbar-light container pt-4 pb-4">
  <div class="navbar-brand"><%= link_to image_tag("logo.svg", class: "logo", alt: "logo"), '/' %></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-3" style="padding-top: 6px;">
          <%= link_to 'Accueil', '/',  class:"nav-link" %>        
      </li>
       <li class="nav-item mr-3" style="padding-top: 6px;">
         <%= link_to 'À propos', '/static_pages/about', class:"nav-link" %> 
      </li>

      <% if user_signed_in? %>
      <li class="nav-item mr-3" style="padding-top: 6px;">
      <%= link_to 'Ma Wishlist', '#', class:"nav-link" %> 
      </li> 
      <li class="nav-item" style="padding-top: 6px;">
      <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class:"nav-link" %> 
      </li> 
      <% elsif !current_manager %>
      <li class="nav-item mr-3" style="padding-top: 6px;">
      <%= link_to 'Se connecter', new_user_session_path, class:"nav-link" %> 
      </li>
      <li class="nav-item" style="padding-top: 6px;">
      <%= link_to "S'enregistrer", new_user_registration_path, class:"nav-link" %> 
      </li>
      <% end %>

      <% if manager_signed_in? %>

      <div class="dropdown mr-3">
        <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mon bar
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="nav-item">
              <%= link_to 'Ma fiche bar', bar_path(current_manager.bar.id), class:"nav-link" %> 
            </li>  
              <%= link_to 'Modifier les infos', edit_managers_bar_path(current_manager.bar.id), class:"nav-link" %> 
            </li>    
            <li class="nav-item">
              <%= link_to 'Modifier ma carte', managers_beer_lists_path, class:"nav-link" %> 
            </li>   
          </div>
      </div>


      <div class="dropdown">
        <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mon compte
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="nav-item">
              <%= link_to 'Paramètres', edit_manager_registration_path, class:"nav-link" %> 
           </li> 
            <li class="nav-item">
              <%= link_to 'Se déconnecter', destroy_manager_session_path, method: :delete, class:"nav-link" %> 
            </li> 
          </div>
      </div>

     
      <% end %>

      
    </ul>
  </div>
</nav>
</header>