<header id="shd">
<nav class="navbar navbar-expand-lg navbar-light container pt-4 pb-4">
  <div class="navbar-brand"><%= link_to image_tag("logo.svg", class: "logo", alt: "logo"), '/' %></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <%= link_to 'Accueil', '/',  class:"nav-link" %>        
      </li>
      <li class="nav-item">
         <%= link_to 'Contact', 'contact', class:"nav-link" %> 
      </li>
      <li class="nav-item">
         <%= link_to 'À propos', 'apropos', class:"nav-link" %> 
      </li>

      <% if user_signed_in? %>
      <li class="nav-item">
      <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class:"nav-link" %> 
      </li> 
      <% elsif !current_manager %>
      <li class="nav-item">
      <%= link_to 'Se connecter', new_user_session_path, class:"nav-link" %> 
      </li>
      <li class="nav-item">
      <%= link_to "S'enregistrer", new_user_registration_path, class:"nav-link" %> 
      </li>
      <% end %>

      <% if manager_signed_in? && current_manager.bar.id != nil %>
      <li class="nav-item">
      <%= link_to 'Mon bar', edit_managers_bar_path(current_manager.bar.id), class:"nav-link" %> 
      </li>       
      <li class="nav-item">
      <%= link_to 'Se déconnecter', destroy_manager_session_path, method: :delete, class:"nav-link" %> 
      </li> 
      <% end %>

      <% if manager_signed_in? && current_manager.bar.id = nil %>
      <li class="nav-item">
      <%= link_to 'Mon bar', new_managers_bar_path(current_manager.bar.id), class:"nav-link" %> 
      </li>       
      <li class="nav-item">
      <%= link_to 'Se déconnecter', destroy_manager_session_path, method: :delete, class:"nav-link" %> 
      </li> 
      <% end %>
      
    </ul>
  </div>
</nav>
</header>

