<h1>Modifier le prix de ma bière</h1>

<%= form_for @beerlist, url = {action: "update"} do |f| %>
  <% if @beerlist.pint_price != nil %>
  <%= f.label :pint_price %>
  <%= f.number_field :pint_price %> 
  <%= f.label :half_pint_price %>
  <%= f.number_field :half_pint_price %>
  <%= f.label :bottle_price %>
  <% else %>
  <%= f.number_field :bottle_price %>
  <% end %>
  <%= f.submit "update" %>
<% end %>


