<h2> Ma carte </h2>

<h3> Pression </h3>

<% @draft_beers.each do |item| %>
  <tr> 
    <td><%= Beer.find(item.beer_id).name %> -</td>
    <td>Prix pinte:  <%= item.pint_price %>,</td>
    <td>Prix demi: <%= item.half_pint_price %> -</td>
    <td><%= link_to "modifier les prix", edit_managers_beer_list_path(item.id) %> -</td>
    <td><%= link_to "supprimer", managers_beer_list_path(item.id), method: :delete, data: {confirm: "Vous êtes sûr?"} %></td>
  </tr></br>
<% end %>

<h3> Bouteille </h3>
<% @bottle_beers.each do |item| %>
  <tr> 
    <td><%= Beer.find(item.beer_id).name %> -</td>
    <td>Prix bouteille: <%= item.bottle_price %>  -</td>
    <td> <%= link_to "modifier le prix", edit_managers_beer_list_path(item.id) %> </td> -
    <td> <%= link_to "supprimer", managers_beer_list_path(item.id), method: :delete, data: {confirm: "Vous êtes sûr?"}  %> </td> 
  </tr></br>
<% end %>




<%= render "beers/index", locals: {beers: @beers, beerlist: @beerlist} %>
