<div class="container mt-3">

<h2> Ma carte </h2>
<div class="row">
<div class="col-lg-6">
<h4 class="mt-3"> Pression</h4>

<% @draft_beers.sort { |a,b| Beer.find(a.beer_id).name <=> Beer.find(b.beer_id).name }.each do |item| %>
  <tr> 
    <td><%= Beer.find(item.beer_id).name %> -</td>
    <td>Prix pinte:  <%= item.pint_price %>,</td>
    <td>Prix demi: <%= item.half_pint_price %> -</td>
    <td><%= link_to "modifier les prix", edit_managers_beer_list_path(item.id) %> -</td>
    <td><%= link_to "supprimer", managers_beer_list_path(item.id), method: :delete, data: {confirm: "Vous êtes sûr?"} %></td>
    <td><%= link_to "archiver", archive_managers_beer_list_path(item.id), method: :archive, data: {confirm: "Vous êtes sûr?"} %></td>
  </tr></br>
<% end %>
</div>
<div class="col-lg-6">
<h4 class="mt-3">Bouteille</h4>
<% @bottle_beers.sort { |a,b| Beer.find(a.beer_id).name <=> Beer.find(b.beer_id).name }.each do |item| %>
  <tr> 
    <td><%= Beer.find(item.beer_id).name %> -</td>
    <td>Prix bouteille: <%= item.bottle_price %>  -</td>
    <td> <%= link_to "modifier le prix", edit_managers_beer_list_path(item.id) %> </td> -
    <td> <%= link_to "supprimer", managers_beer_list_path(item.id), method: :delete, data: {confirm: "Vous êtes sûr?"}  %> </td> 
    <td><%= link_to "archiver", archive_managers_beer_list_path(item.id), method: :archive, data: {confirm: "Vous êtes sûr?"} %></td>
  </tr></br>
<% end %>
</div>
</div>


<%= render "beers/index", locals: {beers: @beers, beerlist: @beerlist} %>

<h3 class="mt-3 mb-3">Mes bières archivées</h3>

<% @archived_beers.sort { |a,b| Beer.find(a.beer_id).name <=> Beer.find(b.beer_id).name }.each do |item| %>
  <tr> 
    <td><%= Beer.find(item.beer_id).name %> -</td>
    <td>Prix bouteille: <%= item.bottle_price %>  -</td>
    <td> <%= link_to "modifier le prix", edit_managers_beer_list_path(item.id) %> </td> -
    <td> <%= link_to "supprimer", managers_beer_list_path(item.id), method: :delete, data: {confirm: "Vous êtes sûr?"}  %> </td> 
    <td><%= link_to "Rajouter à ma carte", archive_managers_beer_list_path(item.id), method: :archive, data: {confirm: "Vous êtes sûr?"} %></td>
  </tr></br>
<% end %>
</br>

</div>
