<div class="jumbotron jumbotron-fluid" id="home">
  <div class="container">
    <h1 class="display-6 mt-5 mb-3 text-dark">La bière que tu veux, à côté de chez toi.</h1>
    
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card search card-sm" style="border: none;">
                <div class="card-body row no-gutters align-items-center">
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Chercher une bière">
                    </div>
                    <div class="col-auto">

                        
                        <button id="search" class="fas fa-search" type="submit"></button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">

  <h4 class="mb-5">Explorer les différents type de bières</h4>

  <div class="row">

  <div class="col-lg-3 col-md-3 col-sm-6 col-6">
    
    <div class="card mb-3">
      <a href="#">
      <%= image_tag("lager.jpg", class: "card-img-top", alt: "beer") %>
      </a>
      <div class="card-body">
        <h5>Lager</h5>
      </div>
    </div>
  
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-6">
    
    <div class="card mb-3">
      <a href="#">
      <%= image_tag("lager.jpg", class: "card-img-top", alt: "beer") %>
      </a>
      <div class="card-body">
        <h5>Lager</h5>
      </div>
    </div>
  
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-6">
    
    <div class="card mb-3">
      <a href="#">
      <%= image_tag("lager.jpg", class: "card-img-top", alt: "beer") %>
      </a>
      <div class="card-body">
        <h5>Lager</h5>
      </div>
    </div>
  
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-6">
    
    <div class="card mb-3">
      <a href="#">
      <%= image_tag("lager.jpg", class: "card-img-top", alt: "beer") %>
      </a>
      <div class="card-body">
        <h5>Lager</h5>
      </div>
    </div>
  
  </div>
  

  
 
</div>

</div>

<div class="container mb-5">
  <h4 class="mb-5">Le bar de la semaine</h4>

  <div class="row">
  <div class="col-sm-2 col-md-6 col-lg-6"><%= image_tag("bar.jpg", class: "img-fluid rounded mb-2", alt: "bar") %></div>
  <div class="col-sm-10 col-md-6 col-lg-6">
    <h3 class="mb-3">Le bar</h3>
    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</p>
     <button class="btn btn-primary">Voir les détails</button>
  </div>
  
  </div>
  
</div>

<div class="container-fluid mb-5">
  <div class="container">
  <h4 class="mb-5">Vous avez un bar ?</h4>
  <p>Rejoignez Beerly pour augmenter votre visibilité et attirer de nouveaux clients</p>

  <%= link_to 'Publiez votre carte', new_manager_registration_path, class: "btn btn-primary text-light" %>
  </div>
  
</div>





