<div class="jumbotron jumbotron-fluid" id="home">
  <div class="container">
    <h1 class="mt-5 mb-3 text-dark text-center">La bière que tu veux, à côté de chez toi.</h1>
    
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-6 col-lg-6">
                <%= form_tag map_index_path, method: :get do %>
                <%= text_field_tag 'term',nil , placeholder: "Quelle bière veux tu déguster aujourd'hui?", autocomplete: :off, class:"form-control form-control-lg form-control-borderlessi my_form" %>
                <%= submit_tag 'Rechercher', class:"btn btn-primary my_button" %>
                <ul id="searchResult"></ul>
                <% end %>

        </div>
        <!--end of col-->
    </div>

  </div>

</div>

<div class="container mt-5 mb-5">

  <h4 class="mb-5">Explorer les différents type de bières</h4>

  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-3">
      <div class="hovereffect">
        <%= image_tag("lager.jpg", class: "img-fluid rounded", alt: "beer") %>
          <div class="overlay">
            <a href="#"><h2>Lager</h2>
            <p>Voir les bars</p></a>
          </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-3">
      <div class="hovereffect">
        <%= image_tag("lager.jpg", class: "img-fluid rounded", alt: "beer") %>
          <div class="overlay">
            <a href="#"><h2>Lager</h2>
            <p>Voir les bars</p></a>
          </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-3">
      <div class="hovereffect">
        <%= image_tag("lager.jpg", class: "img-fluid rounded", alt: "beer") %>
          <div class="overlay">
            <a href="#"><h2>Lager</h2>
            <p>Voir les bars</p></a>
          </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-3">
      <div class="hovereffect">
        <%= image_tag("lager.jpg", class: "img-fluid rounded", alt: "beer") %>
          <div class="overlay">
            <a href="#"><h2>Lager</h2>
            <p>Voir les bars</p></a>
          </div>
      </div>
    </div>

  </div>


</div>

<div class="container mb-5">
  <h4 class="mb-5">Le bar de la semaine</h4>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="hovereffect" id="weekbar">
        <%= image_tag("bar.jpg", class: "img-fluid rounded mb-2", alt: "bar") %>
          <div class="overlay">
            <a href="#"><h2>Le bar</h2><br/>
            <p>Afficher plus d'informations</p></a>
          </div>
      </div>
      
    </div> 
  </div>
  
</div>

<div class="container-fluid mb-5">
  <div class="container">
  <h4 class="mb-5">Vous avez un bar ?</h4>
  <h6>Rejoignez Beerly pour augmenter votre visibilité et attirer de nouveaux clients</h6>
  
  <%= link_to 'Publier votre carte', new_manager_registration_path, class:"btn btn-primary text-light mt-4" %>

  </div>
  
</div>





