<h4 class="mt-5 mb-5">Ajouter une bière à ma carte</h4>
  <div class="col-lg-6 col-md-6 col-8">
    <h4>Nom de la bière :</h4>
<%= form_tag(managers_beer_lists_path, method: :get) do %>
        <div class="field mt-3">
          <%= text_field_tag 'term', nil, placeholder: "Fais ton choix", autocomplete: :off, class:"form-control form-control-lg form-control-borderlessi my_form" %>
          <ul id="searchResult"></ul>
        </div>
        <div class="actions mt-4 mb-2">
          <%= submit_tag 'Chercher', name: nil, class:"btn btn-primary mb-2" %>
        </div>
      <% end %>
  </div>

<% unless @beers == nil %>

  <% for beer in @beers %>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mt-3 mb-5"><strong> <%= beer.name %> </strong></h5>
                
          <!-- List group -->
            <div class="list-group" id="myList" role="tablist">
              <a class="list-group-item list-group-item-action active" data-toggle="list" href="#draft_<%=beer.id%>" role="tab">Pression</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#bottle_<%=beer.id%>" role="tab">Bouteille</a>
            </div>

          <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="draft_<%=beer.id%>" role="tabpanel">
                <%= form_for @beerlist, url: url_for(controller: 'beer_lists', action: 'create') do |f| %>
                  <%= f.hidden_field :beer_id, :value => beer.id %>
                  <div class="field mt-3">
                    <%= f.label :Prix_pinte %>
                    <%= f.number_field :pint_price, class:"form-control form-control-lg form-control-borderless" %>
                  </div>
                  <div class="field mt-3">
                    <%= f.label :Prix_demi %>
                    <%= f.number_field :half_pint_price, class:"form-control form-control-lg form-control-borderless" %> 
                  </div>
                  <div class="actions mt-4 mb-3">
                    <%= f.submit "Ajouter", class:"btn btn-primary mb-2" %>
                  </div>
                <% end %>
              </div>
              <div class="tab-pane" id="bottle_<%=beer.id%>" role="tabpanel">
                <%= form_for @beerlist, url: url_for(controller: 'beer_lists', action: 'create') do |f| %>
                  <%= f.hidden_field :beer_id, :value => beer.id %>
                  <div class="field mt-3">
                    <%= f.label :Prix_bouteille %>
                    <%= f.text_field :bottle_price, class:"form-control form-control-lg form-control-borderless" %> 
                  </div>
                  <div class="actions mt-4 mb-3">
                    <%= f.submit "Ajouter", class:"btn btn-primary mb-2" %>
                  </div>
                <% end %>
              </div>
            </div>
        </div>
      </div>


    </div>
  
  <% end %>

<% end %>
