<h2>Vous avez oublié votre mot de passe?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Envoyez-moi un lien pour changer mon mot de passe" %>
  </div>
<% end %>

<%= render "managers/shared/links" %>
