<div class="container mt-6 mb-5">
<div class="row">
  <div class="col-lg-6 col-sm-12">

    <h2 class="mb-5 mt-5">Changer votre mot de passe</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field mt-3">
        <%= f.label :mot_de_passe, "Nouveau mot de passe" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caractères minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="field mt-3">
        <%= f.label :confirmation_mot_de_passe, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
      </div>

      <div class="actions mt-4 mb-3">
        <%= f.submit "Changer mon mot de passe", class:"btn btn-primary mb-2" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>

  </div>
</div>
</div>