<div class="container mt-5">
	<h4>Vous avez une question</h4>

	<div class="row mt-6">

		<div class="col-sm-6 col-md-6 col-lg-6">

				<%= form_with  do |f| %>

				<div class="form-group">
				   	<%= f.label :Nom %> 
				    <%= f.text_field :Nom, :class => "form-control" %><br/>
				</div>

				<div class="form-group">
				   	<%= f.label :Téléphone %> 
				    <%= f.text_field :téléphone, :class => "form-control" %><br/>
				</div>

				<div class="form-group">
				   	<%= f.label :Message %> 
				    <%= f.text_field :message, :class => "form-control" %><br/>
				</div>
				
				<%= f.submit :class => "btn btn-primary" %>
				
			<% end %> 
		
		</div>



		
	</div>

</div>
