<% provide(:title, 'Beerly | Résultats') %>

<div class="container-fluid" id="result-beers" style="overflow: hidden !important; height: 100vh;">
  
  <div class="row no-gutters justify-content-left mt-4 mb-3">
    <%= link_to "Accueil", root_path, class:"mt-2 mb-2 btn btn-sm btn-primary mr-2", style:"background-color: #05c46b !important;" %>
    <div class="col-5 col-md-5 col-lg-5">
      <%= form_tag map_index_path, method: :get do %>
      <%= text_field_tag 'term',nil , placeholder: "Fais ton choix", autocomplete: :off, class:"form-control form-control-lg form-control-borderlessi my_form" %>
      <%= hidden_field_tag :type , "a" %>
      <ul id="searchResult"></ul>
    </div>
    <div class="col-2 col-md-2 col-lg-2">
      <%= button_tag :submit, name: nil do %>
      <i class='fas fa-search' id="search-button"></i>
      <% end %>
      <% end %>
    </div>
    <!--end of col-->
  </div>

  <div class="row no-gutters">
    <div class="col-sm-3 col-md-3 col-lg-3 pr-2 d-none d-sm-block mb-6" id="result-card" style="overflow: scroll !important; height: 100vh;">
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9" id="map-flow" style="overflow: hidden !important;">
      <div id="map"></div>
    </div>
  </div>
  
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps %>" type="text/javascript"></script>
<script src="/javascript/lib/gmaps.js"></script>
<script>
  var mapStyle, markers;
  var beer = "<%= params[:term] %>";
  window.onload = function() {
    main();
  };

  function main() {
    $.getJSON("/json/style.json", function(json) {
      mapStyle = json;
    });

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        search(beer, position.coords.latitude, position.coords.longitude);
      }, function(error) {
        if (error.code == error.PERMISSION_DENIED)
          console.warn("You denied geolocation, the data may contain some errors.")
        $.getJSON("https://ipapi.co/json", function(json) {
          search(beer, json["latitude"], json["longitude"]);
        });
      });
    } else {
      console.warn("Your browser doesn't support geolocation, the data may contain some errors.")
      $.getJSON("https://ipapi.co/json", function(json) {
        search(beer, json["latitude"], json["longitude"]);
      });
    };
  };

  function search(beer, lat, lng) {
    $.ajax({
      type: 'GET',
      url: '/location',
      data: {
        lat: lat,
        lng: lng,
        term: beer,
        type: "<%=params[:type]%>"
      },
      contentType: 'application/json',
      dataType: 'json'
    }).done(function(data) {
      bars = data.data;
      newMap(mapStyle, bars, lat, lng);
    });
  };

  function newMap(style, bars, lat, lng) {
    var map = new GMaps({
      div: '#map',
      disableDefaultUI: true,
      styles: style
    });

    var latLong = [];
    if (bars[0]) {
    bars.forEach(function(bar) {
      map.addMarker({
        lat: bar.latitude,
        lng: bar.longitude,
        title: bar.name,
        icon: '/img/beer32.png',
        infoWindow: {
          content: bar.name+'<br>'+bar.address+'<br><a href="bars/' + bar.id +'">Voir</a>'
        }
      });
      latLong.push({
        lat: bar.latitude,
        lng: bar.longitude
      });
      barCard(bar);
    });
    
    map.addMarker({
      lat: lat,
      lng: lng,
      title: 'User',
      icon: '/img/dot.svg'
    });
    latLong.push({
        lat: lat,
        lng: lng
      });
    
    map.fitLatLngBounds(latLong);
    $('[data-toggle="popover"]').popover();
    } else {
      $("#map").html("Oh non, nous n'avons pas trouvé la bière que vous cherchez :'(");
    };
  };

  function barCard(bar) {
    var has_beer;
    if (bar.draft_beer) {
      has_beer = "Ce bar a la bière que tu cherches en pression :)"
    } else {
      has_beer = ""
    }; 
    var card = '<div class="card mb-4"><img src="' + bar.photo + '" class="card-img-top" alt="beer")><div class="card-body"><h5>' + bar.name + '</h5><p>' + bar.address + '</p><p>' + bar.draft_number + ' bières en pression</p><p>' + has_beer + ' </p><p><a href="bars/' + bar.id + '" class="text-h">Voir</a>'
    if (bar.hasOwnProperty('beers')) {
    card += '<button type="button" class="text-r ml-3" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="'+ bar.beers.join("<br>") +'">Bières</button></div></div>';
    };
    $("#result-card").append(card);
  };
</script>
