<% provide(:title, 'Beerly | Résultats') %>

<div class="container-fluid" id="result-beers" style="overflow: hidden !important; height: 100vh;">

  <div class="row no-gutters justify-content-left mt-4 mb-3">
    <%= link_to "Accueil", root_path, class:"mt-2 mb-2 btn btn-sm btn-primary mr-2", style:"background-color: #05c46b !important;" %>
    <div class="col-5 col-md-5 col-lg-5">
      <%= form_tag map_index_path, method: :get do %>
      <%= text_field_tag 'term',nil , placeholder: "Fais ton choix", autocomplete: :off, class:"form-control form-control-lg form-control-borderlessi my_form" %>
      <%= hidden_field_tag :type , "a" %>
      <ul id="searchResult"></ul>
    </div>
    <div class="col-2 col-md-2 col-lg-2">
      <%= button_tag :submit, name: nil, class:"mf" do %>
      <i class='fas fa-search' id="search-button"></i>
      <% end %>
      <% end %>
    </div>
    <!--end of col-->
  </div>

  <div class="row no-gutters">
    <div class="col-sm-3 col-md-3 col-lg-3 pr-2 d-none d-sm-block mb-6" id="result-card" style="overflow: scroll !important; height: 100vh;">
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9" id="map-flow" style="overflow: hidden !important;">
      <div id="map"></div>
    </div>
  </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps %>" type="text/javascript"></script>
<script src="/javascript/lib/gmaps.js"></script>
<script src="/javascript/map.js"></script>
<script>
  window.onload = function() {
    var beer = "<%= params[:term] %>";
    var type = "<%= params[:type] %>";
    console.log(type);
    map(beer, type);
  };
</script>
