<% provide(:title, 'Beerly | Résultats') %>

<div class="container-fluid" id="result-beers" style="overflow: hidden !important; height: 100vh;">
  <%= link_to "Retour à l'accueil", root_path, class:"mt-2 mb-2 btn btn-primary", style:"padding: 0.2rem 1.2rem !important; background-color: #05c46b !important;" %>
  <div class="row no-gutters justify-content-center mt-4 mb-3">
    <div class="col-8 col-md-8 col-lg-8">
      <%= form_tag map_index_path, method: :get do %>
      <%= text_field_tag 'term',nil , placeholder: "Fais ton choix", autocomplete: :off, class:"form-control form-control-lg form-control-borderlessi my_form" %>
      <%= hidden_field_tag :type , "a" %>
      <ul id="searchResult"></ul>
    </div>
    <div class="col-4 col-md-4 col-lg-4">
      <%= button_tag :submit, name: nil do %>
      <i class='fas fa-search' id="search-button"></i>
      <% end %>
      <% end %>
    </div>
    <!--end of col-->
  </div>

  <div class="row no-gutters">
    <div class="col-sm-3 col-md-3 col-lg-3 pr-2" id="result-card" style="overflow: scroll !important; height: 100vh;">
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9" id="map-flow" style="overflow: hidden !important;">
      <div id="map"></div>
    </div>
  </div>

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps %>" type="text/javascript"></script>
<script src="/javascript/lib/gmaps.js"></script>
<script>
  var mapStyle, markers;
  var beer = "<%= params[:term] %>";
  window.onload = function(){
    main();
  };
  
  function main() {
    $.getJSON("/json/style.json", function(json) {
      mapStyle = json;
    });

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        search(beer, position.coords.latitude, position.coords.longitude);
      }, function(error) {
        if (error.code == error.PERMISSION_DENIED)
          console.warn("You denied geolocation, the data may contain some errors.")
        $.getJSON("https://ipapi.co/json", function(json) {
          search(beer, json["latitude"], json["longitude"]);
        });
      });
    } else {
      console.warn("Your browser doesn't support geolocation, the data may contain some errors.")
      $.getJSON("https://ipapi.co/json", function(json) {
        search(beer, json["latitude"], json["longitude"]);
      });
    };
  };

  function search(beer, lat, lng) {
    $.ajax({
      type: 'GET',
      url: '/location',
      data: {
        lat: lat,
        lng: lng,
        term: beer,
        type: "<%=params[:type]%>"
      },
      contentType: 'application/json',
      dataType: 'json'
    }).done(function(data) {
      bars = data.data;
      newMap(mapStyle, bars);
    });
  };

  function newMap(style, bars) {
    var map = new GMaps({
      div: '#map',
      disableDefaultUI: true,
      styles: style
    });

    var latLong = [];

    bars.forEach(function(bar) {
      map.addMarker({
        lat: bar.latitude,
        lng: bar.longitude,
        title: bar.name,
        icon: '/img/beer32.png',
        infoWindow: {
          content: bar.name
        }
      });
      latLong.push({
        lat: bar.latitude,
        lng: bar.longitude
      });
      barCard(bar);
    });
    map.fitLatLngBounds(latLong);
  };

  function barCard(bar) {
    var card = '<div class="card mb-2"><img src="' + bar.photo + '" class="card-img-top" alt="beer")><div class="card-body"><h5>' + bar.name + '</h5><p>' + bar.address + '</p><a href="bars/' + bar.id + '" class="text-h">Voir</a></div></div>';
    $("#result-card").append(card);

  };

</script>
